*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;  
}

body{
max-width: 1800px;
}

/* Tamaños de letras */
h1{

}
h2{
    font-size: 4rem;
}

h3{

}
p{
    font-size: 2rem;

}


label, input{
    font-size: 2.8rem;

}

/**  Globales **/
.centrar{
margin: 0 auto;
}

.hide{
    display: none;
}

/** Header  **/

header{
    border: 1px solid black;
}

/** Seccion **/

.form-div{
width: 80%;

}
.form{
border: 1px solid black;
text-align: center;
margin-top: 3rem;
margin-bottom: 3rem;
background: rgba(168,204,219,0.47);
}
h2{
padding-top: 2rem;
padding-bottom: 2rem;

}


label, input{  
margin: 0.8rem;
max-width: 85%;
}

.form-error{
    font-size: 2.8rem;
    color: red;
 
}

.form-registro{
padding-top: 1.4rem;
padding-bottom: 3rem;

}














/** Footer **/
footer{
    border: 1px solid black;
}